@import url();
html {
    overflow: scroll;
}

body {
    background-color: white;
}

.image-gallery {
    height: 100vh;
    background-color: white;
    overflow-y: auto;
    overflow-x: hidden;
    perspective: 1px;
    -webkit-perspective: 1px;
}

img {
    padding: 2px;
}

.vimeo {
    width: 15px;
    margin-right: 1%;
}

.insta {
    width: 15px;
    margin-right: 1%;
}

.linkedin {
    width: 15px;
}


/*MEDIA*/

@media screen and (max-width:720px) {
    .vimeo {
        width: 40px;
        padding-right: 5%;
    }
    .insta {
        width: 40px;
        padding-right: 5%;
    }
    .linkedin {
        width: 40px;
    }
    .fluid-vids {
        width: 100%;
    }
    .video-wrapper {
        z-index: 5;
        width: 100%!important;
        margin: 10% 0% 1%!important;
    }
    .about-wrapper {
        width: 80%;
        height: 100%;
        margin-top: 5%;
        margin-bottom: 10%;
        text-align: justify;
    }
    .video {
        margin-left: 0!important;
    }
    #slider-holder {
        margin: 15% 0!important;
        position: fixed;
        width: 100%!important;
    }
    body .menu-toggle {
        visibility: visible;
        background-color: white;
    }
    body .title {
        background-color: white;
        width: 100%;
        top: 0;
        height: 70px;
        position: fixed;
        z-index: 6;
    }
    body .menu {
        width: auto;
        line-height: 25px;
        visibility: hidden;
        background-color: white;
        width: 100%;
        height: 100%;
        top: 17%;
    }
    .menu-item {
        z-index: 10;
        font-size: 20px!important;
        letter-spacing: 0px;
        font-family: Karla;
        font-weight: 200;
    }
    .content-text {
        width: 100%;
        margin-top: 5%;
        text-align: justify;
    }
    .craigwave {
        z-index: 10;
        font-size: 20px!important;
        letter-spacing: 0px;
        top: 12%!important;
    }
    h2 {
        font-size: 13px;
        letter-spacing: 3px;
        font-weight: 200;
        font-style: italic;
        font-family: Karla;
    }
    h3 {
        font-size: 12px;
        letter-spacing: 1px;
        font-weight: 200;
        font-family: Karla;
    }
    p3 {
        font-size: 12px;
        letter-spacing: 0px;
        font-family: Karla;
        font-weight: 200;
    }
    p2 {
        font-size: 20px!important;
    }
}

h1 {
    font-family: ;
    color: antiquewhite;
    margin-left: 20px;
}

li {
    display: inline;
    max-width: 100%;
}

p2 {
    font-size: 13px;
    letter-spacing: 3px;
    font-style: italic;
    font-weight: 200;
    font-family: Karla;
}

#canvas {
    width: 400px;
    display: block;
    margin: 0 auto;
    position: absolute;
}


/*CLASSES*/

.craigwave {
    z-index: 10;
    font-size: 13px;
    position: fixed;
    letter-spacing: 3px;
    font-family: Karla;
    text-align: left;
    top: 5%;
    background-color: white;
}

.craigwave:hover {
    cursor: pointer;
    text-decoration: line-through;
}

.hamburger {
    display: block;
    cursor: pointer;
    width: 80px;
    height: 40px;
}

.menu-toggle {
    z-index: 9;
    position: fixed;
    font-size: 13px;
    letter-spacing: 3px;
    font-family: Karla;
    visibility: hidden;
    margin-top: 3%;
}

.menu {
    z-index: 10;
    position: fixed;
    list-style: none;
    width: 20%;
    top: 10%;
    padding-left: 15px;
    visibility: visible;
    //background-color: #f79f08;
}

.clicked .menu {
    visibility: visible;
    opacity: 1;
}

.menu-item {
    z-index: 10;
    font-size: 12px;
    letter-spacing: 0px;
    font-family: Karla;
    font-weight: 200;
}

.menu-item:hover {
    cursor: pointer;
    text-decoration: line-through;
}

.menu-icon {
    z-index: 10;
}

.menu-icon:hover {
    cursor: pointer;
}


/*IMAGES*/

.parallax-group {
    position: relative;
    left: %;
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
}

.pic-squad1 {
    position: absolute;
    z-index: 9;
    left: 30%;
    top: 1000px;
    width: 40%;
    transform: translateZ(-0.5px);
    -webkit-transform: translateZ(-0.5px);
}

.pic-tattoo {
    position: absolute;
    z-index: 9;
    left: -10%;
    top: 100px;
    width: 25%: transform: translateZ(-1px);
    -webkit-transform: translateZ(-1px);
}

.pic-shimo {
    position: absolute;
    z-index: 8;
    left: 45%;
    top: 1500px;
    width: 50%;
    transform: translateZ(-0.2px);
    -webkit-transform: translateZ(-0.2px);
}


/*CONTENT*/

.content-text {
    width: 100%;
    text-align: justify;
}

.clicked .video-wrapper {
    visibility: hidden;
    opacity: 0;
}

.video-wrapper {
    z-index: 5;
    width: 80%;
    float: right;
    display: block;
    position: relative;
    margin-bottom: 5%;
    margin-top: 3%;
    margin-right: 5%;
    -webkit-animation: myanim 2s;
    /* Chrome, Opera 15+, Safari 5+ */
    animation: myanim 2s;
    /* Chrome, Firefox 16+, IE 10+, Opera */
    -webkit-animation-fill-mode: forwards;
}

.about-wrapper {
    width: 100%;
    text-align: justify;
    float: right;
}

.sf-wrapper {
    display: block;
    position: relative;
    width: 100%;
    height: 0;
    padding-top: 56.25%;
}

.sf-inner {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
}


/*NEW*/

#slider-holder {
    position: relative;
    width: 50%;
    height: 50%;
    margin: 5% 30%;
}

.clicked #slider {
    visibility: hidden
}

h2 {
    font-size: 13px;
    letter-spacing: 1px;
    font-weight: 200;
    font-style: italic;
    font-family: Karla;
}

h3 {
    font-size: 12px;
    letter-spacing: 1px;
    font-weight: 200;
    font-family: Karla;
}

p3 {
    font-size: 12px;
    letter-spacing: 0px;
    font-family: Karla;
    font-weight: 200;
}

.clicked .content-wrapper {
    visibility: hidden;
    opacity: 0;
}


/*ANIMATIONS*/

@-webkit-keyframes myanim {
    0% {
        opacity: 0.0;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 1.0;
    }
}

@keyframes myanim {
    0% {
        opacity: 0.0;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 1.0;
    }
}
